/*
LAST UPDATED: 3/26/19
Original thread:
https://pixpet.net/forum.php?section=posts&t=765&title=Game-Guides---Custom-CSS%2FUser-Styles%3A-A-Compilation
*/
.mainContentBackground {
    background: #212121;
    box-shadow: none;
}

.contentLeftBackground,
.contentRightModule,
.contentRightModule > a,
.contentRightModule > a:hover,
.contentRightModule > a:focus,
.forumBoxLink:hover,
.forumBoxLink:focus,
.forumBoxLink:active,
.footerModule {
    background: #414141;
    box-shadow: none;
    text-shadow: none;
    border-color: #000;
    border-collapse: collapse;
    border-spacing: 0;
}
.contentLeftTitle,
.contentRightModuleTitle,
.headerMenu a {
    box-shadow: none;
    background: linear-gradient(to bottom, #515151 0%, #222222 100%);
    border-color: #000;
    text-shadow: none;
    font-weight: bold;
    transition: none!important;
}
.headerMenu a:hover,
.headerMenu a:focus {
    background: #212121!important;
}
#headerMenuSelectedLink {
    background: #212121;
}
.formButton:focus,
.formButton:hover,
.formButton:active {
    background: linear-gradient(to bottom, #313131 0%, #111111 100%)!important;
    box-shadow: 0px 1px 2px #111!important;
    border-color: #000!important;
}
img[src*="images/page/egg"] {
    filter: grayscale(1);
}

.contentRightModule > a,
.interactionBox,
.interactionBox:hover,
.interactionAvatar {
    background: #444;
    border-color: #000;
}
.userInfoText {
    text-shadow: none;
}
.grid {
    box-shadow: none;
}
.contentMenu,
.formButton,
.userInfo,
.contentMenuSmall,
.contentMenuFullWidth,
.contentMenuSmall,
.formButton:focus {
    box-shadow: none;
    background: linear-gradient(to bottom, #444 0%, #212121 100%);
    text-shadow: none!important;
    border-color: #000;
}
.formButtonDisabled {
    box-shadow: none;
    background: linear-gradient(to bottom, #aaa 0%, #666 100%);
    text-shadow: none!important;
    border-color: #000;
    color: #fff;
}
.header {
    background: linear-gradient(to bottom, #a5e 0%, rgba(0, 0, 0, .5) 100%), url('https://pixpet.net/css/images/headerBG_1.gif');
    background-blend-mode: multiply;
    background-position: 0px 0px, 0px 0px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
}
.headerPet {
    filter: brightness(1)!important;
}
.contentMenu,
.formButton,
.userInfo,
.userInfoIcon {
    border-color: #000;
}
#headerMenuSelectedLink,
.whiteCover,
.pixpetMenuIcon,
.footerBackground {
    background: #212121;
    border-color: #000;
    border-spacing: 0;
    box-shadow: none;
}
#headerMenu > div {
    background: linear-gradient(to bottom, #516181 0%, #223252 100%);
}
#nav li ul {
    margin-left: -1px;
}
.nav-md {
    background: linear-gradient(to top, rgba(80, 70, 100, .8) 0%, rgba(80, 70, 100, .8) 100%), url("https://pixpet.net/css/images/pageBackground.gif");
    background-blend-mode: multiply;
    background-position: 0px 0px, 0px 0px;
}
.backgroundNormal {
    background: #444;
}
.houseDisplaySelected b,
.houseDisplaySelected b:visited,
.houseDisplaySelected b:hover,
.houseDisplaySelected b:focus,
.houseDisplaySelected b:active {
    color: #3f6936 !important;
}
.houseDisplay b,
.houseDisplay b:visited,
.houseDisplay b:hover,
.houseDisplay b:focus,
.houseDisplay b:active {
    color: #ddd;
}
.houseDisplay {
    color: #444;
    border-color: #000;
    background: #999;
}
.signature {
    background: inherit;
    border-color: #000;
}
.bbQuote {
    background: inherit;
}
.bbSpoiler {
    background: inherit;
}
.favPixpet {
 background:#444;
    border-color:#000;
}
.customBox {
    background: inherit;
    border-color: #000!important;
}
.newPm td,
.newPm td b {
    background: #454!important;
    color: #121!important;
    border-color: #121!important;
}
.newPm td a,
.newPm td a:hover,
.newPm td a:focus,
.newPm td a:active {
    color: #5c5!important;
}
#nav li:hover a,
#nav li:hover ul li a:hover {
    background: #212121;
    box-shadow: none;
    border-color: #000;
}
#nav li:hover {
    border: 1px solid #000;
    border-bottom: 0!important;
}
#nav li ul {
    box-shadow: none;
    border: 1px solid #000;
    border-top: 0;
}
#nav li ul li {
    border: 0!important;
}
.newMsgMenu {
    color: inherit;
    background: #444!important;
    box-shadow: none;
}
.gridMenu > a,
.gridMenu > a:hover,
.gridMenu > a:focus {
    color: #fff!important;
}
.currencyMenu {
    background: #444;
    border-color: #000!important;
}
.currencyMenu > a {
    border-color: #000!important;
}
.currencyMenu > a:hover {
    background: #212121;
    border-bottom: 1px solid #000;
}
.patreonLink a,
.patreonButton,
.patreonButton:visited,
.patreonHeader {
    background: linear-gradient(to bottom, #a65 0%, #a42 100%) !important;
}
.tableSelectedLink {
    background: #223;
}
.linkRefining,
.linkBrewing,
.linkBaking,
.linkRefining:hover,
.linkBrewing:hover,
.linkBaking:hover,
.linkRefining:active,
.linkBrewing:active,
.linkBaking:active,
.linkRefining:focus,
.linkBrewing:focus,
.linkBaking:focus {
    color: #fff!important;
}
.cookingStation0,
.cookingStation1 {
    border-color: #000!important;
}
.pages a:hover {
    background: rgba(100, 100, 150, .6);
}
.stickyTopic td {
    background: #304349!important;
    border-color: #000!important;
    color: #def!important;
}
.pixpetMenuEmpty {
 border-color:#000;   
}
.objectHover:hover {
 background:#292929;   
}
.stickyTopic td a {
    color: #add!important;
}
.usersOnline a {
 background:#212121; 
    border-color:#000;
}
.usersOnline a:hover {
     background:#292929;   

}
.stickyTopic td img[src*="images/page/egg"] {
    filter: brightness(2) grayscale(.5);
}
.closedTopic td {
    background: #554!important;
    border-color: #000!important;
    color: #ddc!important;
}
.closedTopic td img[src*="images/page/egg"] {
    filter: brightness(2) grayscale(.5);
}
.closedTopic td a {
    color: #dda!important;
}
.successBoxMessage b {
    color: inherit;
}
.warningBoxMessage b {
    color: inherit;
}
.stickyTopic {
    background: #556!important;
}
.successBoxMessage a,
.successBoxMessage a:hover,
.successBoxMessage a:active,
.successBoxMessage a:focus {
    color: #3f6936!important;
}
.infoBoxMessage b {
    color: inherit;
}
.errorBoxMessage b {
    color: inherit;
}
.inventoryContent {
    background: #444;
}
.userInfoText,
.userInfoText > a {
    color: inherit;
}
.footerModule,
.footerLinks {
    text-shadow: none;
    color: #bbd;
}
.normalInput {
    color: #333;
}

.progressBar {
    background: #444 url('../usersc/images/page/progressBar.gif') no-repeat -130px;
}
.colorSortLink,
.colorSortLink:hover,
.colorSortLink:focus,
.colorSortLink:active {
    background: #55a;
    text-shadow: none;
}
.colorSortLink:hover,
.colorSortLink:focus,
.colorSortLink:active {
    background: #338;
}
.colorSortLinkSelected {
    background: #77c;
    text-shadow: none;
}
.colorDisplay b {
    color: inherit;
}
.forumBoxLink {
    border-color: #000!important;
}
a,
.blankLink,
a[target="_blank"] {
    text-shadow: none!important;
    color: #cbd!important;
}
a:focus,
a:hover {
    color: #dce !important;
}
.homeIllustrationText,
.homeIllustrationText b {
    color: #222;
}
td,
.inventoryHead,
.cookingStation2 {
    background: #212121;
    border: 1px solid #000 !important;
}
select {
    color: #333;
}

th {
    background: linear-gradient(to bottom, #516181 0%, #223252 100%)!important;
    text-shadow: none!important;
    color: #eeeeff!important;
    border: solid 1px #000 !important;
    border-color: #000!important;
}

th a {
    color: #fff!important;
}

body {
    text-shadow: none;
    color: #b3b4c2;
}
b {
    color: #a6a6d0;
}
hr {
    border: 1px solid #000;
}