body {
	background: #555;
	font-family:Verdana;
}

#container {
padding: 100px;	
}

#scrollbox {
	overflow-y: scroll;
	height: 500px;
	background: rgba(255,255,255,.6);	
}

.row {
	display:flex;
	background: rgba(255,255,255,.5);
}
.row > * {
	align-items:center;
	border: 2px solid #222;
	border-collapse: collapse;
	display: inline;
}