body {
padding:5%;
font-family:arial;
font-size:12pt;
background: repeating-linear-gradient(#000 2px, #222 2px);
}
.block {
padding:20px;
background: rgba(50,50,50,.5);
color:#fff;
display:inline-block;
width:400px;
text-align:center;
margin:10px auto 10px auto;
min-height:150px;
}
.container {
display:flex;
align-items:center;
vertical-align:center;
flex-flow:row wrap;
text-align:center;
}
#timer {
display:inline;
}
ul {
text-align:left;
}
.container > li {
min-width:15ch;
text-align:left;
padding: 3px;
}
