body {
padding:5%;
font-family:arial;
font-size:12pt;
  animation: 30s infinite hue-shift;
}
@keyframes hue-shift {
 0% {
   repeating-linear-gradient(#222, #222 2px, #000 0px, #000 4px), linear-gradient(to top, #f0f, transparent);
  background-blend-mode:multiply;
  }
  20%{
    repeating-linear-gradient(#222, #222 2px, #000 0px, #000 4px), linear-gradient(to top, #f00, transparent);
  background-blend-mode:multiply;
  }
  40%{
    repeating-linear-gradient(#222, #222 2px, #000 0px, #000 4px), linear-gradient(to top, #ff0, transparent);
  background-blend-mode:multiply;
  }
  60% {
    repeating-linear-gradient(#222, #222 2px, #000 0px, #000 4px), linear-gradient(to top, #0f0, transparent);
  background-blend-mode:multiply;
  }
  80% {
    
  }
  
}
.block {
padding:20px;
background: rgba(50,50,50,.5);
color:#fff;
display:inline-block;
width:400px;
text-align:center;
margin:10px auto 10px auto;
min-height:150px;
}
.container {
display:flex;
align-items:center;
vertical-align:center;
flex-flow:row wrap;
text-align:center;
}
#timer {
display:inline;
}
ul {
text-align:left;
}
.container > li {
min-width:15ch;
text-align:left;
padding: 3px;
}
