body {
font-family: Tahoma;
 background: url('assets/bodybg.png') #212121;
 color:#fff;
}
h1, h2 {
text-align:center;
 }
h1, h2, h3 {
 font-family:"Lucida Console"; 
 text-shadow: 0px 0px 8px #000;
}
* {
box-sizing:border-box;
}
#main {
 background-color: rgba(255,255,255,.2);
 margin: auto;
 width:70%;
 padding: 7px;
}
#zekrom {
 position: fixed;
 width:20%;
 height: 20%;
 background: url("assets/zekrom.png");
 bottom: 0; right: 0;
 }
