body {
 font-size: 1em;
font-family: Tahoma;
 background: url('assets/bodybg.png') #212121;
 color:#fff;
 margin:0;
}
h1, h2 {
 font-size: 2em;
text-align:center;
 }
h1, h2, h3 {
 font-family:"Lucida Console"; 
 text-shadow: 0px 0px 8px #000;
}
a, a:visited {
 color:#fff;
 transition:.2s;
}
a:hover {
 color:#dfd;
}
* {
box-sizing:border-box;
}
#head {
 left: 0; top:0;
 display:flex;
 position: sticky;
 width:100%;
 padding:5px;
 justify-content:center;
 background: linear-gradient(to bottom, rgba(255,255,255,.2), rgba(255,255,255,.05));
}
#main {
 background-color: rgba(255,255,255,.2);
 margin: 0 auto 0 auto;
 width:70%;
 padding: 7px;
 box-shadow: 0px 0px 3px #000;
}
#zekrom {
 position: fixed;
 width:20%;
 height: 20%;
 background: url("assets/zekrom.png");
 bottom: 80%; right: 80%;
 }
