body {
 font-size: 1em;
font-family: Tahoma;
 background: url('assets/bodybg.png') #212121;
 color:#fff;
 margin:0;
}
h1, h2 {
 font-size: 2em;
text-align:center;
 }
h1, h2, h3 {
 font-family:"Lucida Console"; 
 text-shadow: 0px 0px 8px #000;
}
a, a:visited {
 color:#fff;
 transition:.2s;
}
a:hover {
 color:#dfd;
}
* {
box-sizing:border-box;
}
#head>a {
 margin: 0 10px 0 10px;
 
}
#head {
 left: 0; top:0;
 display:flex;
 position: sticky;
 width:100%;
 padding:5px;
 justify-content:center;
 background: linear-gradient(to bottom, rgba(255,255,255,.1), rgba(255,255,255,.1) 85%, rgba(255,255,255,0));
}
#main {
 background: linear-gradient(to right, rgba(0,0,0,0), rgba(255,255,255,.1) 2%, rgba(255,255,255,.1) 98%, rgba(0,0,0,0) 100%);
 margin: 40px auto 40px auto;
 width:70%;
 padding: 7px calc(2% + 7px) 7px calc(2% + 7px);
}
#zekrom {
 position: fixed;
 width:400px;
 height: 400px;
 background: url("assets/zekrom.png");
 background-size:cover;
 top: calc(100% - 400px); 
 left: calc(100% - 400px);
 }
