body {
background: #919191;
font-family:Arial;
}

table, tr, td {
background:#616161;
padding:0;
margin:0 auto 0 auto;
border-collapse: collapse;
border: 1px solid #000;
overflow:hidden;
user-select:none;
}


td {
display:inline-block;
min-width:50px; max-width:50px;
min-height:50px; max-height:50px;
line-height:50px;
text-align:center;
margin:0;
padding:0;
border: 1px solid #000;
}
#numb {
 display:none; 
  font-size:15pt;
 font-decoration:bold;
 color:white;
}
.clicked {
background-color:#212121;
}
.clicked #numb {
 display:inline; 
}
td#bomb.clicked {
background:url('https://i.imgur.com/geYgLyk.png') red center center;
background-size:cover;
}
#bomb.clicked>#numb {
 display:none;
}

.flagged {
background-color: orange;
}

#bomb.clicked {
background: red;
}
