#img {
height:60px;
width:60px;
background: url('https://i.imgur.com/jRbPNol.png') no-repeat center center;
}
#img:hover {
background: url('https://i.imgur.com/pcD6X9g.png') no-repeat center center;
animation: change 1s infinite;
}

@keyframes change {
0% {	
background: url('https://i.imgur.com/pcD6X9g.png') no-repeat center center;
}
25% {	
background: url('https://i.imgur.com/l8HrK8s.png') no-repeat center center;
}
50% {	
background: url('https://i.imgur.com/adfTFQk.png') no-repeat center center;
}
75% {
	background: url('https://i.imgur.com/l8HrK8s.png') no-repeat center center;
}
}