
body { 
background: #212121;
color:#ccc;
font-family:Sans-Serif;
padding:0; margin:0;
}
p {
	white-space: pre-wrap;
}
#header {
	min-height:100px;
	width:100%;
	background-color:#111;
	margin:0;
}

#main {
	padding:20px;
}