@media (max-width: 800px) {
	#main {
		width: 75%;	
		min-height: 75vw;
	}
}
@media (min-width: 800px) {
	#main {	
		width: 600px;	
		min-height: 600px;
	}
}

body {
	background: url("assets/erythbg.jpg") center top no-repeat, url("assets/bodybg.png");
	background-blend-mode:screen;
	color:#fff;
	font-family: Consolas;
	font-size: 12pt;
}

#main {
	margin:100px auto auto auto;
	background: rgba(255,255,255,.2);
	padding:10px;
	border-radius:10px;
	border: 2px solid #a44;
	border-bottom-color:#833;
	border-right-color:#833;
	text-align:center;
	display:flex;
	align-items:center;
	
}
#main > p > img {
	width:70%;
	margin:auto;
	display:block;	
}

a, a:visited {
	transition:.2s;
	text-decoration:none;
	color:#e44;
}
a:hover, a:active{
	letter-spacing:2px;
	color:#e77;
}
p {
	margin:auto;
}