body {
	font-size:12pt; 
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	background:#111;	
}

#main {
	border: 1px solid #fff;
	background: rgba(255,255,255,.1);
	color:#858F9D;
	display:flex;
	flex-direction:row;
	justify-content:center;
	align-items:center;
	margin:200px auto 0 auto;
	padding:4px;
	min-height:500px;
	max-width:80%;
	width:600px;
}

#portrait {
	width: 250px;
	min-height:450px;
	background: url('https://pbs.twimg.com/media/Edii6VvVAAARex9?format=png') 30% center;
	background-size:50vh;
	margin: 20px;
	display:inline-block;
}

#content {
	text-align:center;
	width:100%;
	display:inline-block;
}

#content > span {
	font-size: 20pt;
	color: #BFC6CF;
}
b { 
	color: #BFC6CF;
}
a, a:visited, a:hover, a:active {
	color:#C1DEE7;
	text-decoration:none;
}